.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

//FLEX
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-item-1 {
    flex: 1 1 0%;
}

.flex-justify-left {
    justify-content: left;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-right {
    justify-content: right;
}